.jumbotron-extend {
  position: relative;
  margin: 0;
  height: 100vh;
  min-height: 300px;
  background: url(./images/the_sky.jpg) no-repeat center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

p {
  font-weight: bold;
}

@media (max-width: 576px) {
  .jumbotron-extend {
    background: url(./images/the_sky_for_mobile.jpg) no-repeat center center;
    background-size: cover;
  }
}
